Repository ContainX/openstack4j, pull requests merged in 2018-03, with the labels that each got.

#1151 Make sure the number of okhttp CLOSE_WAIT connections is always manageable
  connectors/okhttp/src/main/java/org/openstack4j/connectors/okhttp/HttpCommand.java
  connectors/okhttp/src/main/java/org/openstack4j/connectors/okhttp/HttpExecutorServiceImpl.java
  core-integration-test/pom.xml
Labels: bug, connector-okhttp

#1166 Fix issue #1165.
  connectors/httpclient/src/main/java/org/openstack4j/connectors/httpclient/HttpExecutorServiceImpl.java
Labels: bug, connector-httpclient

#1162 Consider the SSLContext of an HttpRequest's Config object when using the Resteasy connector
  connectors/resteasy/src/main/java/org/openstack4j/connectors/resteasy/executors/ApacheHttpClientEngine.java
Labels: bug, connector-httpclient

#1134 aodh-gnocchi alarm support
  core-test/src/main/java/org/openstack4j/api/telemetry/AlarmTests.java
  core-test/src/main/resources/telemetry/alarm.json
  core-test/src/main/resources/telemetry/alarms.json
  core/src/main/java/org/openstack4j/model/telemetry/Alarm.java
  core/src/main/java/org/openstack4j/model/telemetry/builder/AlarmBuilder.java
  core/src/main/java/org/openstack4j/openstack/telemetry/domain/CeilometerAlarm.java
Labels: enhancement
